.cells {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto 0;
  max-width: 240px;
  width: 100%;
}

.cells div {
  border: 1px solid #ccc;
  height: 80px;
  position: relative;
  width: 80px;
}

.cells div::before {
  color: #ccc;
  content: attr(data-count);
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.5;
}

.cells .active::after {
  border: 3px solid tomato;
  border-radius: 50%;
  color: tomato;
  content: "済";
  font-size: 40px;
  font-weight: 400;
  height: 50px;
  left: 50%;
  line-height: 50px;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(15deg);
  position: absolute;
  width: 50px;
}
