.container {
  text-align: center;
}

.isOrder {
  align-items: center;
  display: flex;
  justify-content: center;
}

.isOrder p {
  font-size: 20px;
  font-weight: bold;
}

.button {
  background-color: #eee;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  padding: 1em 4em;
  appearance: none;
}
